* {
  margin: 0;
  padding: 0;
  border: 0;
}

html, body {

    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.main {
  padding-top: 40%;
}

.main, .host .header {
    background-repeat: no-repeat;
    background: #2c3e50;
    background: -webkit-linear-gradient(#2c3e50, #34495e); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#2c3e50, #34495e); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#2c3e50, #34495e); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#3c2e40, #34495e); /* Standard syntax */
}


#app {
  height: 100%;
  font-family: 'Roboto', Arial, Helvetica, sans-serif;

  color: #fff;
  display: block;
  vertical-align: center;
}

#app.host {
  background: #eee;  
  font-weight: lighter;
}

#app.main div {
  margin-left: 10%;
  margin-right: 10%;
  vertical-align: middle;

}


#app h1 {
  font-size: 4rem;
  font-weight: lighter;
  text-align: center;
}

#app h2 {
  font-size: 3rem;
  font-weight: lighter;
  text-align: center;
}

#app h3 {
  font-size: 2rem;
  font-weight: lighter;
  text-align: center;
}

#app a {
  text-decoration: none; 
  color: #fff;
}

#app .splitline {
  border-left: 0.2rem solid #fff;
}

.main .header {
  padding: 15%;
  display: block;
}

.container {
  display: flex;
  justify-content: center;
}

.host .header .container {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 3%;
}
